.nav {
  width: 100%;
  background: var(--green-300);
}

.nav__link {
  text-decoration: none;
  color: var(--light);
  font-size: var(--sm-text);
  font-weight: 400;
  text-transform: capitalize;
}

.nav__link.with-icon {
  display: flex;
  align-items: center;
  gap: var(--xs-gap);
}

.nav__link:hover,
.nav__link:active,
.nav__link.active {
  color: var(--yellow-400);
}

.nav__link.with-icon:hover svg.path path,
.nav__link.with-icon.active svg.path path {
  fill: var(--yellow-400);
}

.nav__link.with-icon:hover svg.stroke path,
.nav__link.with-icon.active svg.stroke path {
  stroke: var(--yellow-400);
}

.total {
  height: 1.5rem;
  width: 1.5rem;
  background: var(--light);
  border-radius: 50%;
  color: var(--dark-400);
  font-size: var(--xs-text);
  font-weight: 400;
}

.nav__link.no-hover:hover {
  color: var(--light);
}

.nav__link.dark,
.nav__link.dark.no-hover:hover {
  color: var(--dark-400);
}

.nav__small {
  height: 3.5rem;
  width: 100%;
  background: var(--green-500);
  padding: 0 2rem;
}

.nav__main {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  padding-right: calc(2rem + var(--xs-gap));
}

.left {
  width: 100%;
}

.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  transition: transform var(--duration-sm) linear;
  transform: translateX(-100%);
}

.nav__mobile.open {
  transform: translateX(0);
}

.nav__mobile-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  max-width: 25rem;
  height: 100%;
  background: var(--green-300);
}

.nav__mobile-header {
  padding: 1rem 2rem 1rem 0;
  background: var(--green-300);
}

.nav__mobile-auth {
  width: 100%;
  background: var(--light);
  height: 3.5rem;
  padding: 0 2rem;
}

.nav__mobile-links-box {
  padding: 1rem 2rem;
  height: 50rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.nav__mobile-links-box > *:nth-child(2),
.nav__mobile-links-box > *:nth-child(3) {
  margin-top: 0.5rem;
  border-bottom: 1px solid var(--trans-light);
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 36rem) {
  .nav__main {
    padding-right: calc(4rem + var(--xs-gap));
  }
  .nav__small {
    padding: 0 4rem;
  }
}

@media only screen and (min-width: 48rem) {
  .nav__main {
    padding-right: calc(8rem + var(--xs-gap));
  }

  .nav__mobile.open {
    display: none;
    transform: translateX(-100%);
  }

  .nav__small {
    padding: 0 8rem;
  }
}

@media only screen and (min-width: 75rem) {
  .left {
    gap: 3rem;
  }

  .nav__main {
    padding-right: calc(12rem + var(--xs-gap));
  }

  .nav__small {
    padding: 0 12rem;
  }
}
