.nav {
  width: 100%;
  background: var(--green-300);
}

.nav__link {
  text-decoration: none;
  color: var(--light);
  font-size: var(--sm-text);
  font-weight: 400;
  text-transform: capitalize;
}

.nav__link:hover,
.nav__link:active,
.nav__link.active {
  color: var(--yellow-400);
}

.nav__link.no-hover:hover {
  color: var(--light);
}

.nav__small {
  height: 3.5rem;
  width: 100%;
  background: var(--green-500);
  padding: 0 2rem;
}

.nav__main {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  padding-right: calc(2rem + var(--xs-gap));
}

.left {
  width: 100%;
}

@media only screen and (min-width: 36rem) {
  .nav__main {
    padding-right: calc(4rem + var(--xs-gap));
  }
  .nav__small {
    padding: 0 4rem;
  }
}

@media only screen and (min-width: 48rem) {
  .nav__main {
    padding-right: calc(8rem + var(--xs-gap));
  }

  .nav__small {
    padding: 0 8rem;
  }
}

@media only screen and (min-width: 75rem) {
  .left {
    gap: 3rem;
  }

  .nav__main {
    padding-right: calc(12rem + var(--xs-gap));
  }

  .nav__small {
    padding: 0 12rem;
  }
}
