@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  span {
    font-size: $base-text;
    font-weight: 400;
    color: $dark;
    @include multiplier("font-size", $base-text, $genQs);
  }

  &__icon {
    height: 1.4rem;
    width: 1.4rem;
    margin-left: 0.6rem;
    margin-bottom: -0.2rem;

    path {
      fill: $dark;
    }

    @include multiplier("height", 1.4rem, $genQs);
    @include multiplier("width", 1.4rem, $genQs);
    @include multiplier("margin-left", 0.6rem, $genQs);
    @include multiplier("margin-bottom", -0.2rem, $genQs);
  }

  &--light {
    span {
      color: $light;
    }
  }

  &--light &__icon {
    path {
      fill: $light;
    }
  }
}

.icon {
  height: 2rem;
  width: 2rem;

  &--sm {
    height: 1.5rem;
    width: 1.5rem;
  }

  path {
    fill: $dark;
    stroke: $dark;
  }

  &--light {
    path {
      fill: $light;
      stroke: $light;
    }
  }

  &--primary {
    path {
      fill: $green-dark;
      stroke: $green-dark;
    }
  }
  &--secondary {
    path {
      fill: $red-dark;
      stroke: $red-dark;
    }
  }

  @include multiplier("height", 2rem, $genQs);
  @include multiplier("width", 2rem, $genQs);
}

.light {
  color: $light;
}

.text {
  font-size: $base-text;
  font-weight: 400;
  color: $dark;
  &--bold{
    font-weight: 500;
  }
  &--xs {
    font-size: $xs-text;
  }
  &--sm {
    font-size: $sm-text;
  }
  &--md {
    font-size: $md-text;
  }
  &--lg {
    font-size: $lg-text;
  }
}

.dark {
  color: $dark;
}
