.phone {
  font-size: calc(var(--base-text) * 1.2);
  font-weight: 500;
  color: var(--light);
  gap: 1rem;
  text-decoration: none;
  height: 3.5rem;
  display: none;
  flex-shrink: 0;
}

.phone.small-sc {
  display: inline-flex;
}

.phone.lg-sc {
  display: none;
}

.phone.dark {
  color: var(--dark);
}

.phone.light {
  color: var(--light);
}

.phone.green{
  color: var(--green-400);
}

.icon {
  fill: var(--light);
  transition: transform 0.3s ease;
  transform-origin: center;
}

.phone:hover .icon {
  transform: rotate(20deg);
}

@media only screen and (min-width: 1024px) {
  .phone, .phone.phone.lg-sc {
    display: inline-flex;
  }
}
