.phone {
  font-size: var(--md-text);
  font-weight: 500;
  color: var(--light);
  gap: 1rem;
  text-decoration: none;
  height: 3.5rem;
  display: none;
  flex-shrink: 0;
}

.icon {
  fill: var(--light);
  transition: transform 0.3s ease;
  transform-origin: center;
}

.phone:hover .icon {
  transform: rotate(20deg);
}


@media only screen and (min-width: 1024px) {
  .phone {
    display: flex;
  }
}