.filters {
  width: 25rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--light);
  z-index: 600;
  transform: translateX(-100%);
}

.filters-header,
.filters-footer {
  height: 5rem;
  background: var(--green-300);
}

.filters-header {
  height: 7rem;
}

.filters-content {
  height: calc(100vh - 12rem);
  padding: 2rem 1rem;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

.filters-dropdown-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background: transparent;
  border: none;
  outline: transparent;
  border-bottom: 1px solid var(--gray);
}

.filters-dropdown-content {
  block-size: 0;
  overflow: hidden;
}

.filters-dropdown-content[open] {
  block-size: auto;
}

.filters-dropdown-btn span {
  font-size: var(--base-text);
  font-weight: 600;
  color: var(--dark);
}

.filters-dropdown-btn .dropdown-icon {
  transform: rotateX(-180deg);
  transition: transform 0.4s ease;
}

.filters-dropdown-btn.isOpened {
  border-color: transparent;
}

.filters-dropdown-btn.isOpened .dropdown-icon {
  transform: rotateX(0);
}

@media only screen and (min-width: 1024px) {
  .filters {
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
    height: auto;
    width: auto;
    transform: translateX(0);
  }

  .filters-header,
  .filters-footer {
    display: none;
  }
}
