.container {
  display: block;
  height: 5rem;
  width: 100%;
  padding-top: 1rem;
}

.slider {
  position: relative;
  width: 100%;
  height: .6rem;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 0.25rem;
  height: 0.5rem;
}

.slider__track {
  background-color: var(--dark);
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: var(--green-300);
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: var(--dark);
  font-size: var(--sm-text);
  margin-top: 2rem;
}

.slider__left-value {
  left: 0.5rem;
}

.slider__right-value {
  right: .2rem;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: var(--green-300);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  margin-top: .6rem;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: var(--green-300);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  margin-top: .6rem;
  pointer-events: all;
  position: relative;
}
