@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.form {
  &__group {
    width: 100%;
    height: 4rem;
    min-width: 20rem;
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid $green-light;
    border-radius: 0.6rem;
    padding: 0 1rem;
    @include multiplier("height", 4rem, $genQs);
    @include multiplier("padding-left", 1rem, $genQs);
    @include multiplier("padding-right", 1rem, $genQs);

    &--light {
      border-color: $light;
    }

    &--sm {
      height: 3.5rem;
    }
  }

  &__review {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
    &-btns{
      display: flex;
      align-items: center;

      &>*:first-child{
        margin-right: 2rem;
      }
    }
  }

  &__control {
    display: flex;
    flex-direction: column;

    & > *:first-child {
      margin-bottom: 1rem;
    }
  }

  &__label {
    font-size: $base-text;
    font-weight: 500;
    color: $dark;
    text-transform: capitalize;
  }

  &__textarea {
    background: transparent;
    outline: none;
    border: 1px solid $gray;
    padding: 1rem 1.5rem;
    border-radius: 0.6rem;
    resize: none;
  }

  &__input-text {
    height: 100%;
    width: 100%;
    padding: 0 1rem 0 2rem;
    background: transparent;
    outline: none;
    border: none;
    @include multiplier("padding-right", 1rem, $genQs);
    @include multiplier("padding-left", 2rem, $genQs);

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px $light inset !important;
      -webkit-text-fill-color: $dark !important;
    }

    &,
    &::placeholder {
      color: $dark;
      font-size: $base-text;
      font-weight: 400;
      font-family: $font;

      @include multiplier("font-size", $base-text, $genQs);
    }

    &--light,
    &--light::placeholder {
      color: $light;
    }

    &--light {
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px $green-dark inset !important;
        -webkit-text-fill-color: $light !important;
      }
    }
  }

  &__group:hover &__icon {
    transform: rotate(90deg);
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    transition: transform 0.2s linear;
    path {
      fill: $dark;
    }

    @include multiplier("height", 2.5rem, $genQs);
    @include multiplier("width", 2.5rem, $genQs);
  }

  &__group--light &__icon {
    path {
      fill: $light;
    }
  }
}
