@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;

  @include breakpoints(mq-xxs) {
    grid-template-columns: min-content min-content;
  }

  @include breakpoints(mq-xs) {
    grid-template-columns: 10rem 1fr;
  }

  @include breakpoints(mq-sm) {
    grid-template-columns: 15rem 1fr;
    grid-column-gap: 6rem;
  }

  p {
    text-wrap: nowrap;
    &::first-letter {
      text-transform: uppercase;
    }

    &:first-child {
      color: $gray-200;
    }
  }

  & > *:last-child {
    display: flex;
    align-items: center;

    p {
      color: $dark;
      font-weight: 600;
    }
  }

  button {
    margin-left: 1rem;
    text-decoration: none;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }

    &:hover .icon {
      fill: $green-dark;
    }

    @include multiplier("margin-left", 1rem, $genQs);
  }
}
