@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.product {
  display: grid;
  box-shadow: $shadow-3;
  border-radius: $xxs-gutter;
  width: 100%;
  position: relative;
  min-width: 18.2rem;

  @include breakpoints(mq-2xl) {
    min-width: 22.1rem;
  }

  @include multiplier("border-radius", $xxs-gutter, $genQs);
  @include multiplier("min-width", 22.1rem, $genQs);

  &__discount {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border-radius: 1rem;
    padding: 0.35rem 0.8rem;
    background: $red-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 20;
    max-height: 2.5rem;
    @include multiplier("max-height", 2.5rem, $genQs);
    @include multiplier("border-radius", 1rem, $genQs);
    @include multiplier("padding-top", 0.35rem, $genQs);
    @include multiplier("padding-bottom", 0.35rem, $genQs);
    @include multiplier("padding-left", 0.8rem, $genQs);
    @include multiplier("padding-right", 0.8rem, $genQs);
    @include multiplier("top", 2rem, $genQs);
    @include multiplier("bottom", 2rem, $genQs);

    span {
      font-size: $xs-text;
      font-weight: 400;
      color: $light;
      @include multiplier("font-size", $xs-text, $genQs);
    }
  }

  &__img {
    width: 100%;
    height: 15rem;
    object-fit: contain;
    object-position: center;

    &-box {
      padding: 2rem 3rem;
      position: relative;
      @include multiplier("padding-top", 2rem, $genQs);
      @include multiplier("padding-bottom", 2rem, $genQs);
      @include multiplier("padding-left", 3rem, $genQs);
      @include multiplier("padding-right", 3rem, $genQs);
    }

    @include multiplier("height", 15rem, $genQs);
  }

  &__body {
    padding: 1rem;
    & > *:last-child {
      width: 100%;
    }
    @include multiplier("padding", 1rem, $genQs);
    & > *:nth-child(1),
    & > *:nth-child(2) {
      margin-bottom: 0.25rem;
      @include multiplier("margin-bottom", 0.25rem, $genQs);
    }
  }

  &__name {
    font-size: $base-text;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    color: $dark;
    line-height: 1;
    display: block;
    @include multiplier("font-size", $base-text, $genQs);
    @include multiplier("line-height", 1, $genQs);
  }

  &__quantity,
  &__status {
    font-size: $sm-text;
    font-weight: 400;
    color: $dark;
    @include multiplier("font-size", $sm-text, $genQs);
  }

  &__status {
    font-weight: 500;
  }

  &__status.green {
    color: $green-dark;
  }

  &__status.red {
    color: $red-dark;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    @include multiplier("margin-top", 1rem, $genQs);
    @include multiplier("margin-bottom", 1rem, $genQs);
  }

  &__price {
    font-size: $md-text;
    font-weight: 700;
    color: $dark;

    &-box {
      display: flex;
      align-items: center;
    }

    &-original {
      margin-left: 1.5rem;
      position: relative;
      font-size: $base-text;
      font-weight: 300;
      @include multiplier("margin-left", 1.5rem, $genQs);
      @include multiplier("font-size", $base-text, $genQs);

      &::before {
        position: absolute;
        height: 1px;
        width: 100%;
        content: "";
        display: block;
        z-index: 5;
        background: $dark;
        transform: rotate(-20deg);
        top: 1.15rem;
        @include multiplier("top", 1.15, $genQs);
      }
    }

    @include multiplier("font-size", $md-text, $genQs);
  }

  &__del-btn {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    z-index: 250;

    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: 252;
      height: 100%;
      width: 100%;
      content: "";
      display: block;
    }
  }

  &__del-icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: $red-dark;
  }
}
