.rating-number {
  font-weight: 600;
  color: var(--dark);
  font-family: var(--font);
  line-height: 1;
}

.rating-number.sm {
  font-size: var(--base-text);
}

.rating-number.md {
  font-size: calc(var(--md-text) - 0.4rem);
}

.rating-number.lg {
  font-size: calc(var(--lg-text) - 0.4rem);
}

.rating-number.xl {
  font-size: calc(var(--xl-text) - 0.4rem);
}
