.nav {
  width: 100%;
}

.nav-sm {
  background: var(--green-500);
  height: 4rem;
  width: 100%;
  display: none;
}

.nav-main {
  width: 100%;
  background: var(--green-300);
  height: 7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  padding: 0 2rem 0 0;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 0.8rem;
}

.logo-box {
  padding: 0 1rem 0 2rem;
  background: var(--light);
  height: 4rem;
  display: flex;
  align-items: center;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  gap: 1rem;
}

.nav-btn {
  border: none;
  background: transparent;
  outline: transparent;
}

.nav-btn > .icon path {
  fill: var(--green-500);
  stroke: var(--green-500);
}

.nav-link {
  font-size: var(--base-text);
  text-decoration: none;
  color: var(--light);
}

.nav-link::first-letter {
  text-transform: uppercase;
}

.nav-link.with-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link:hover,
.nav-link.current {
  color: var(--yellow-400);
}

.nav-link.with-icon .icon > path {
  fill: var(--light);
}

.nav-link.with-icon:hover {
  color: var(--light);
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}

.nav-mobile.isOpened {
  transform: translateX(0);
}

.mobile-bg {
  background: var(--green-400);
  width: 25rem;
  height: 100%;
}

.nav-mobile .header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 5;
  background: var(--green-400);
  padding-bottom: 1rem;
}

.profile-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--dark);
  font-size: var(--base-text);
  font-weight: 400;
}

.last {
  background: var(--light);
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  justify-content: space-between;
}

.close-btn,
.logout-btn {
  border: none;
  outline: transparent;
  background: transparent;
  align-self: flex-end;
}

.close-btn > .icon path {
  fill: var(--light);
  stroke: var(--light);
}

.logout-btn .icon {
  fill: var(--green-500);
}

.first {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}

.main {
  overflow-y: auto;
  height: calc(100vh - 8.5rem);
}

.mobile-links-box {
  padding: 1rem 2rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid rgba(252, 255, 249, 0.5);
  padding-bottom: 2rem;
}

.mobile-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--base-text);
  font-weight: 400;
  color: var(--light);
  text-decoration: none;
}

.mobile-link .icon.outline path {
  stroke: var(--light);
}

.mobile-link .icon.fill path {
  fill: var(--light);
}

.gen-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  background: transparent;
  outline: transparent;
  border: none;
}

.gen-btn > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--light);
}

.gen-btn .icon path {
  fill: var(--light);
}

.gen-btn .arrow {
  transition: transform 0.4s ease;
}

.gen-btn.links-closed .arrow {
  transform: rotate(-90deg);
}

.mobile-gen {
  height: auto;
  transition: height 0.3s ease;
}

.mobile-gen.isOpened .mobile-links {
  padding-left: 3rem;
}

.hide {
  height: 0;
  overflow: hidden;
}

.mobile-gen.no-user {
  height: auto;
}

.mobile-gen.no-user .mobile-links {
  padding-left: 0;
}

@media only screen and (min-width: 576px) {
  .nav-main {
    gap: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .nav-main {
    gap: 3rem;
    padding: 0 3rem 0 0;
  }

  .logo-box {
    padding: 0 1rem 0 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-main {
    gap: 3.5rem;
    padding: 0 4rem 0 0;
  }

  .nav-mobile {
    display: none;
    transform: translateX(0);
  }

  .nav-sm {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 0 4rem;
  }
  .nav-sm > *:last-child {
    margin-left: auto;
  }

  .logo-box {
    padding: 0 1rem 0 4rem;
  }

  .nav-btn {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .logo-box {
    height: 5rem;
    padding: 0 2rem 0 10rem;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
  }
  .nav-main {
    padding: 0 10rem 0 0;
  }

  .nav-sm {
    padding: 0 10rem;
  }
}

@media only screen and (min-width: 1440px) {
  .logo-box {
    padding: 0 2rem 0 14rem;
  }
  .nav-main {
    padding: 0 14rem 0 0;
  }

  .nav-sm {
    padding: 0 14rem;
  }
}
