@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --light: #fcfff9;
  --dark: #2c302d;
  --gray: #bbbbbb;
  --green-100: #c6eeca;
  --green-200: #42c84f;
  --green-300: #37900d;
  --green-400: #31870b;
  --green-500: #386d15;
  --green-600:#043313;
  --blue-100: #cfebfb;
  --blue-400: #4c6fc8;
  --blue-500: #0d6494;
  --red-100: #f9eae3;
  --red-300: #d97442;
  --red-400: #e00000;
  --yellow-400: #f8fd00;
  --xs-text: 1rem;
  --sm-text: 1.2rem;
  --base-text: 1.4rem;
  --md-text: 1.8rem;
  --lg-text: 2.4rem;
  --xl-text: 3.6rem;
  --xxl-text: 4.8rem;
  --xxxl-text: 6.4rem;
  --sm-radius: 0.5rem;
  --md-radius: 0.8rem;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.icon {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
}

.icon.lg {
  height: 3rem;
  width: 3rem;
}

.icon.md {
  height: 2.5rem;
  width: 2.5rem;
}

.home-header {
  padding: 2rem 0;
}

.home-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 2rem;
}

.section.section-popular {
  position: relative;
  width: 100%;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "h h"
    "l l"
    "s s";
}

.section.section-popular > *:nth-child(1) {
  grid-area: h;
}

.section.section-popular > *:nth-child(2) {
  grid-area: l;
  justify-self: flex-end;
  visibility: hidden;
  display: none;
}

.section.section-popular > *:nth-child(3) {
  grid-area: s;
}

.products {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}

.secondary-heading {
  font-size: var(--lg-text);
  font-weight: 500;
  line-height: 1.2;
}

.section-heading {
  font-size: var(--lg-text);
  font-weight: 500;
  color: var(--dark);
  text-transform: initial;
}

.section-fruitbox {
  background: var(--green-300);
}

.section-promo {
  background: var(--blue-400);
}

.section-facts {
  background: linear-gradient(
      to right,
      rgba(10, 168, 147, 0.9),
      rgba(10, 168, 147, 0.9)
    ),
    url("/images/handdrawn-fruits.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-fruitbox .secondary-heading {
  max-width: 65rem;
  margin-bottom: 3rem;
}

.section.section-with-bg {
  padding: 5rem 2rem;
}

.facts {
  min-height: 25rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;
}

.section-subscription {
  padding: 0 2rem;
  min-height: 15rem;
}

/* utilities */
.light {
  color: var(--light);
}

input[type="email"] {
  height: 3.5rem;
  border: 1px solid var(--green-300);
  outline: transparent;
  border-radius: var(--sm-radius);
  padding: 0 1rem;
}

input[type="email"]::placeholder,
input[type="email"] {
  font-size: var(--base-text);
  font-weight: 400;
  color: var(--dark);
}

.form-text {
  font-size: var(--sm-text);
  font-weight: 400;
  color: var(--dark);
}

.section {
  margin-bottom: 5rem;
}

@media only screen and (min-width: 375px) {
  .facts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 576px) {
  .secondary-heading {
    font-size: var(--xl-text);
  }
}

/* media queries */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .home-categories {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 1rem 4rem;
  }

  .secondary-heading {
    font-size: var(--xxl-text);
  }

  .facts {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }

  .section.section-popular {
    grid-template-areas:
      "h l"
      "s s";
  }

  .section.section-popular > *:nth-child(2) {
    visibility: visible;
    display: flex;
  }

  .section.section-popular,
  .section-subscription {
    padding: 0 4rem;
  }

  .section.section-with-bg {
    padding: 5rem 4rem;
  }

  .section-heading {
    font-size: var(--xl-text);
  }
}

@media only screen and (min-width: 1200px) {
  .home-header {
    padding: 4rem 10rem;
  }

  .home-categories {
    padding: 2rem 10rem;
  }

  .section.section-with-bg {
    padding: 5rem 10rem;
  }

  .section.section-popular,
  .section-subscription {
    padding: 0 10rem;
  }

  .secondary-heading {
    font-size: calc(var(--xxl-text) * 1.1);
  }

  .section {
    margin-bottom: 6rem;
  }

  .facts {
    gap: 8rem;
  }
}

@media only screen and (min-width: 1440px) {
  .home-header {
    padding: 4rem 14rem;
  }
  .home-categories {
    padding: 2rem 14rem;
  }
  .section.section-popular,
  .section-subscription {
    padding: 0 14rem;
  }
  .section.section-with-bg {
    padding: 5rem 14rem;
  }
  .secondary-heading {
    font-size: calc(var(--xxl-text) * 1.2);
  }
}
