@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --light: #fcfff9;
  --dark: #2c302d;
  --gray-100: #bbbbbb;
  --gray-200: #979797;
  --green-100: #c6eeca;
  --green-200: #42c84f;
  --green-300: #37900d;
  --green-400: #31870b;
  --green-500: #386d15;
  --green-600: #043313;
  --blue-100: #cfebfb;
  --blue-400: #4c6fc8;
  --blue-500: #0d6494;
  --red-100: #f9eae3;
  --red-300: #d97442;
  --red-400: #e00000;
  --yellow-400: #f8fd00;
  --yellow-600: #d3d700;
  --xs-text: 1rem;
  --sm-text: 1.2rem;
  --base-text: 1.5rem;
  --md-text: 1.8rem;
  --lg-text: 2.4rem;
  --xl-text: 3.6rem;
  --xxl-text: 4.8rem;
  --xxxl-text: 6.4rem;
  --sm-radius: 0.5rem;
  --md-radius: 0.1rem;
  --font: "Nunito";
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  min-height: 100vh;
}
