@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --light: #fcfff9;
  --dark: #2c302d;
  --gray: #bbbbbb;
  --gray-400: #979797;
  --green-100: #c6eeca;
  --green-200: #42c84f;
  --green-300: #37900d;
  --green-400: #31870b;
  --green-500: #386d15;
  --green-600: #043313;
  --blue-100: #cfebfb;
  --blue-400: #4c6fc8;
  --blue-500: #0d6494;
  --red-100: #f9eae3;
  --red-300: #d97442;
  --red-400: #e00000;
  --yellow-400: #f8fd00;
  --yellow-600: #d3d700;
  --xs-text: 1rem;
  --sm-text: 1.2rem;
  --base-text: 1.4rem;
  --md-text: 1.8rem;
  --lg-text: 2.4rem;
  --xl-text: 3.6rem;
  --xxl-text: 4.8rem;
  --xxxl-text: 6.4rem;
  --sm-radius: 0.5rem;
  --md-radius: 0.8rem;
  --font: "Nunito";
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

button,
a,
li {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--dark);
}

button {
  text-decoration: none;
  outline: transparent;
  background: transparent;
  border: none;
}

/* utilities */
.icon {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
}

.icon.sm {
  height: 1.6rem;
  width: 1.6rem;
}

.icon.lg {
  height: 3rem;
  width: 3rem;
}

.icon.xl {
  height: 4rem;
  width: 4rem;
}

.icon.md {
  height: 2.5rem;
  width: 2.5rem;
}

.icon.filled,
.icon.path-filled path {
  fill: var(--light);
}

.icon.stroke path {
  stroke: var(--light);
}

.light {
  color: var(--light);
}

.icon.green {
  fill: var(--green-300);
}

.icon.path-filled.green path {
  fill: var(--green-300) !important;
}

.icon.path-filled.red path {
  fill: var(--red-400) !important;
}

.icon.path-filled.dark path {
  fill: var(--dark) !important;
}

.icon.stroke.dark path {
  stroke: var(--dark) !important;
}

.icon.stroke.green path,
.icon.green.poly polyline {
  stroke: var(--green-300) !important;
  fill: none;
}

.icon.stroke-filled path{
  stroke: var(--red-400);
}

.icon-box {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background: var(--green-400);
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input,
.text-input,
.text-area,
.select {
  height: 3.5rem;
  border: 1px solid var(--green-300);
  outline: transparent;
  border-radius: var(--sm-radius);
  padding: 0.5rem 1rem;
  background: var(--light);
}

.text-area {
  height: auto;
  resize: none;
}

.email-input::placeholder,
.text-input::placeholder,
.email-input,
.text-area::placeholder,
.text-input,
.text-area,
.select,
.select option {
  font-size: var(--base-text);
  font-weight: 400;
  color: var(--dark);
}

.form-text {
  font-size: var(--sm-text);
  font-weight: 400;
  color: var(--dark);
}

.center {
  text-align: center;
}

.jc {
  display: flex;
  justify-content: center;
}

/* end of utilities */

.home-header {
  padding: 2rem 0;
}

.home-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 2rem;
}

.products {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}

.primary-heading {
  font-size: var(--lg-text);
  font-weight: 500;
  color: var(--dark);
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.line {
  height: 2px;
  width: 100%;
  content: "";
  display: block;
  background: linear-gradient(
    to right,
    rgba(55, 144, 13, 0.9),
    rgba(252, 255, 249, 0.7)
  );
  margin-left: 1rem;
}

.secondary-heading {
  font-size: var(--lg-text);
  font-weight: 500;
  line-height: 1.2;
}

.section-heading,
.sm-heading {
  font-size: var(--lg-text);
  font-weight: 500;
  color: var(--dark);
  text-transform: initial;
}

.sm-heading {
  font-size: var(--md-text);
}

.light {
  color: var(--light);
}

.section-fruitbox {
  background: var(--green-300);
}

.section-promo {
  background: var(--blue-400);
}

.section-facts {
  background: linear-gradient(
      to right,
      rgba(10, 168, 147, 0.9),
      rgba(10, 168, 147, 0.9)
    ),
    url("/images/handdrawn-fruits.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-fruitbox .secondary-heading {
  max-width: 65rem;
  margin-bottom: 3rem;
}

.section.section-with-bg {
  padding: 5rem 2rem;
}

.facts {
  min-height: 25rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;
}

span.green {
  font-weight: 500;
  color: var(--green-400);
}

.section-subscription {
  padding: 0 2rem;
  min-height: 15rem;
}

.padded-x {
  padding: 0 2rem;
}

p {
  font-size: var(--base-text);
  font-weight: 400;
  color: var(--dark);
  line-height: 1.5;
}

.main .primary-heading,
.section-page .section-heading,
.section-page .sm-heading {
  margin-bottom: 2rem;
}

.brand-img {
  width: 10rem;
  height: auto;
  filter: grayscale(1);
  transition: all 0.3s ease;
}

.brand-img:hover {
  filter: grayscale(0);
}

.brands {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  align-items: center;
  gap: 2rem;
}

.articles,
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
}

.infos,
.allergies,
.allergies-box,
.orders {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.allergies,
.allergies-box {
  flex-direction: row;
  flex-wrap: wrap;
}

.page-cards {
  display: grid;
  gap: 2rem;
}

.section {
  margin-bottom: 5rem;
}

.section.blog {
  margin-top: 4rem;
}

.article-categories {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.article-category-btn {
  padding: 1rem 1.2rem;
  font-size: var(--base-text);
  font-weight: 400;
  background: transparent;
  outline: transparent;
  border: none;
  padding-bottom: 0.5rem;
  color: var(--dark);
  height: 3rem;
  cursor: pointer;
}

.article-category-btn:hover,
.article-category-btn.active {
  border-bottom: 2px solid var(--green-300);
}

.article-category-btn::first-letter {
  text-transform: uppercase;
}

.contact-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
}

.contacts-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-info-desc,
.contact-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.contact-info {
  align-items: center;
}

.contact-info.f-d {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.contact-info p,
.contact-info-desc p {
  margin-bottom: 0;
}

.contact-info-desc {
  margin-bottom: 2rem;
}

.contact-info p.lg {
  font-size: var(--md-text);
  font-weight: 500;
}

iframe {
  border: 0;
}

.map {
  filter: grayscale(1);
  min-height: 30rem;
  background: #eeee;
}

.map:hover {
  filter: grayscale(0);
}

.page-layout {
  padding: 2rem;
  background: var(--light);
}

.sale-content {
  width: 100%;
}

.sale-container,
.sale-content-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.sale-content-header {
  gap: 2rem;
  width: 100%;
}

.sale-content-header h1 {
  font-size: var(--md-text);
  font-weight: 600;
  color: var(--dark);
}

.sale-content-header h1::first-letter {
  text-transform: uppercase;
}

.sale-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.page-btns,
.page-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.page-btn {
  gap: 1rem;
  cursor: pointer;
}

.page-btn.add {
  color: var(--green-300);
}

.page-btn.del {
  color: var(--red-400);
}

/* utilities */
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.space-between{
  justify-content: space-between;
}

.b{
  font-weight: 500;
}

.full{
  width: 100%;
}

@media only screen and (min-width: 320px) {
  .articles {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media only screen and (min-width: 375px) {
  .facts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 576px) {
  .secondary-heading {
    font-size: var(--xl-text);
  }

  .sale-products {
    gap: 2rem;
  }
}

/* media queries */
@media only screen and (min-width: 768px) {
  .page-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .sale-products {
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  }

  .orders {
    gap: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .home-categories {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 1rem 4rem;
  }
  .page-layout {
    padding: 2rem 4rem;
  }

  .sale-content-header {
    justify-content: space-between;
  }

  .sale-container {
    grid-template-columns: 25rem calc(100% - 29rem);
  }
  .secondary-heading {
    font-size: var(--xxl-text);
  }

  .facts {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }

  /* .section.section-popular {
    grid-template-areas:
      "h l"
      "s s";
  }

  .section.section-popular > *:nth-child(2) {
    visibility: visible;
    display: flex;
  } */

  /* .section.section-popular, */
  .section-subscription,
  .padded-x {
    padding: 0 4rem;
  }

  .section.section-with-bg {
    padding: 5rem 4rem;
  }

  .section-heading {
    font-size: calc(var(--lg-text) * 1.2);
  }
}

@media only screen and (min-width: 1200px) {
  .home-header {
    padding: 4rem 10rem;
  }

  .home-categories {
    padding: 2rem 10rem;
  }

  .page-layout {
    padding: 2rem 10rem;
  }

  .section.section-with-bg {
    padding: 5rem 10rem;
  }

  /* .section.section-popular, */
  .section-subscription,
  .padded-x {
    padding: 0 10rem;
  }

  .secondary-heading {
    font-size: calc(var(--xxl-text) * 1.1);
  }

  .section {
    margin-bottom: 5rem;
  }

  .facts {
    gap: 8rem;
  }
}

@media only screen and (min-width: 1440px) {
  .home-header {
    padding: 4rem 14rem;
  }
  .home-categories {
    padding: 2rem 14rem;
  }
  /* .section.section-popular, */
  .section-subscription,
  .padded-x {
    padding: 0 14rem;
  }

  .page-layout {
    padding: 2rem 14rem;
  }

  .section.section-with-bg {
    padding: 5rem 14rem;
  }

  .secondary-heading {
    font-size: calc(var(--xxl-text) * 1.2);
  }
}

.section.no-mg {
  margin-bottom: 0;
}
