.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
}

.checkbox .checkbox-check {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--green-300);
  border-radius: 3px;
  position: relative;
}

.checkbox .checkbox-check::before,
.checkbox .checkbox-check::after {
  position: absolute;
  content: "";
  display: block;
  height: 0.15rem;
  width: 0.5rem;
  background: var(--light);
}

.checkbox .checkbox-check::before {
  width: 0.5rem;
  top: 0.7rem;
  left: 0.15rem;
  transform: rotate(45deg);
}

.checkbox .checkbox-check::after {
  top: 0.6rem;
  left: 0.5rem;
  width: 0.65rem;
  transform: rotate(-45deg);
}

.checkbox .checkbox-label {
  font-size: var(--base-text);
  font-weight: 600;
  color: var(--dark);
}

.checkbox .checkbox-label::first-letter {
  text-transform: uppercase;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox:hover .checkbox-check {
  background: var(--green-100);
}

.checkbox input[type="checkbox"]:checked + .checkbox-check {
  background: var(--green-300);
}
